.about-me {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  //padding-top: 20px;
}

.about-me__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  text-transform: uppercase;
}

.about-me__desc {
  margin: 0;
  font-size: 18px;
  line-height: 32px;
}

.about-me__img-container {
  display: none;
}

@media (min-width: 576px) {

  .about-me {
    padding-top: 40px;
  }

  .about-me__title {
    margin-bottom: 80px;
    font-size: 30px;
  }

  .about-me__desc {
    font-size: 22px;
  }
}

@media (min-width: 768px) {

  .about-me {
    padding-top: 70px;
  }

  .about-me__title {
    margin-bottom: 20px;
    font-size: 36px;
  }

  .about-me__img-container {
    display: block;
    width: 300px;
    margin-bottom: 20px;
    border-radius: 16px;
  }

  .about-me__photo {
    border-radius: 16px;
  }
}
