//Main nav
.main-nav {
  position: absolute;
  z-index: 10;
  right: 0;
  width: 375px;
  //height: 100%;
  min-height: 620px;
  overflow: hidden;
  border-radius: 0 0 100% 50%;
  transition: all 1.1s cubic-bezier(0.8, 0, 0.33, 1);
  transform: translateX(300px);
}

.main-nav--opened {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0;
  transform: translateX(0);
}

.main-nav__toggle-button {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 5%;
  left: 5%;
  padding: 0;
  width: 30px;
  cursor: pointer;
  z-index: 10;

  &:focus {
    outline: none;
  }
}

.main-nav__line {
  display: block;
  padding: 0;
  width: 30px;
  background: #ffffff;
  height: 2px;
  margin: 5px 0 5px auto;
  transition: all 700ms cubic-bezier(0.9, 0, 0.33, 1);
}


.main-nav__line--1 {
  width: 30px;
  transform: rotate(0) translateY(0);
}

.main-nav__line--2 {
  width: 28px;
  transform: translateX(0);
}

.main-nav__line--3 {
  width: 20px;
  transform: rotate(0) translateY(0);
}


.main-nav__line--cross-1 {
  width: 30px;
  transform: rotate(45deg) translateY(10px);
  background: rgba(0, 0, 0, 0.6);
}

.main-nav__line--cross-3 {
  width: 30px;
  transform: rotate(-45deg) translateY(-10px);
  background: rgba(0, 0, 0, 0.6);
}

.main-nav__line--fade-out {
  width: 28px;
  transform: translate(30px);
  opacity: 0;
}
