.site-navigation {
  @include list-reset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 620px;
}

.site-navigation--show {
  display: flex;
}

.site-navigation__item {
  margin: 15px 0;
}

.site-navigation__link {
  //@include myOutline();
  display: block;
  width: 170px;
  margin: 0 auto;
  font-size: 22px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

@media (min-width: 992px) {

  .site-navigation {
    flex-direction: row;
    flex-wrap: wrap;
    min-height: auto;
    width: 80%;
  }

  .site-navigation__link {
    width: auto;
  }
}
