.swiper-container {
  opacity: 1;
  width: auto;
  transition: all 0.8s;
  //background-color: rgba(255, 255, 255, 0.4);
  //min-height: 90%;
}

.swiper-pagination {
  display: none;
}

.swiper-container--fade {
  opacity: 0.1;
}

