@mixin myOutline ($color:blue, $name: "1") {
  position: relative;
  z-index: 10;
  background-color: transparent !important;
  background-image: linear-gradient(rgba($color, 0.3), rgba($color, 0.3)) !important;
  outline: 2px solid $color;
  opacity: 0.9;
  transition: all 0.4s;

  &:hover {
    background-image: linear-gradient(rgba($color, 0.5), rgba($color, 0.5)) !important;
    outline: 4px solid $color;
  }

  &::after {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 20;
    font-family: monospace;
    font-size: 20px;
    color: complement($color);
    content: $name;
    opacity: 1;
  }
}



@mixin list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}
